n8n/workflow.json
{
  "name": "desafio-stalse",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e953b71c-1700-4e2d-a9dd-d9def585d803",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -48,
        48
      ],
      "id": "3855ba32-fa39-471d-a567-083e6a42250d",
      "name": "Webhook",
      "webhookId": "e953b71c-1700-4e2d-a9dd-d9def585d803"
    },
    {
      "parameters": {
        "batchSize": "={{ $('Webhook').item.json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        816,
        64
      ],
      "id": "6d735734-f982-495a-8344-7314a180aba5",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  console.log(item);\n}\n\nreturn $input.all())"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        224
      ],
      "id": "22d4ce16-3892-4a75-9ff6-684d87e190a7",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "console.log(JSON.stringify($input.all(), null, 2));\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        -544
      ],
      "id": "c57ccf5f-69e3-407c-a5e4-493645515f6a",
      "name": "WhatsApp Code"
    },
    {
      "parameters": {
        "jsCode": "console.log($input.all())\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        -368
      ],
      "id": "56ac16a0-a13f-4354-9810-7e5fd7786d72",
      "name": "Email Code"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://httpbin.org/post",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Webhook').item.json.body.toJsonString() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        816,
        -160
      ],
      "id": "528cba76-3d14-4265-b9c7-283f35725630",
      "name": "Chat HTTP Request"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "body",
        "binaryPropertyName": "=data",
        "options": {
          "fileName": "channel_instagram.txt"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        800,
        512
      ],
      "id": "eb80c669-357a-42d2-8e2d-58a2b83039f0",
      "name": "Instagram Convert to File1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.channel }}",
                    "rightValue": "whatsapp",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "569055b7-e8c9-4a29-b4ed-abbb0d2b9272"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c6a9b5af-82e6-4623-ab1e-b223a22d5d1b",
                    "leftValue": "={{ $json.body.channel }}",
                    "rightValue": "email",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b02f02d5-5c71-4b8f-a980-6daa91bb62bd",
                    "leftValue": "={{ $json.body.channel }}",
                    "rightValue": "chat",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "93187b00-6cf2-4264-a9d1-8b1921532053",
                    "leftValue": "={{ $json.body.channel }}",
                    "rightValue": "telefone",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4921060f-1b5d-49f1-87e1-de8abde78356",
                    "leftValue": "={{ $json.body.channel }}",
                    "rightValue": "instagram",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": 0
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "8ed005b2-afa8-4d22-9ba0-54e8e5c778f3",
      "name": "Channel Switch"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Channel Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Channel Switch": {
      "main": [
        [
          {
            "node": "WhatsApp Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chat HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Instagram Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a749fccd-45c0-47e6-a574-3c24d989a3ef",
  "meta": {
    "instanceId": "f8e62e15d3bcf0ff83dfd431ef9d457fa7c128f810394955544c9abbc0c79c8f"
  },
  "nodeGroups": [],
  "id": "vsoABXwcmDfNhEEC",
  "tags": []
}